/*
Mint:         #31C48D
Mint:hover:   #2CAF7F
Forest:       #096A2E
Gray:         #ADBFB8
*/

html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

#app {
  margin: 1rem;
}

.chart-container {
  margin: auto;
  position: relative;
  height:50vh;
  width:70vw;
}

@media only screen and (max-width: 768px) {
  .chart-container {
    position: relative;
    height:50vh;
    width:90vw;
  }
}

.loan-index-head {
  background-color: #f8f9fa;
}

.loan-index-head:hover {
  cursor: pointer;
}

.loan-index-item:hover {
  background-color: #f8f9fa;
}

.loan-index-item.loan-index-item-selected {
  background-color: #f8f9fa;
}

.btn-primary {
  background-color: #31C48D;
  border-color: #31C48D;
}

.btn-primary:hover {
  background-color: #2CAF7F;
  border-color: #2CAF7F;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: #2CAF7F;
  border-color: #2CAF7F;
}

